@font-face {
    font-family: logo;
    src: url(../tipo/Novecento-Bold.otf);   
}

@font-face {
    font-family: textos;
    src: url(../tipo/nose.otf);   
}

@font-face {
    font-family: menu;
    src: url(../tipo/Novecento-Book.otf);   
}

@font-face {
    font-family: labelTipo;
    src: url(../tipo/Novecento-CondLight.otf);   
}

/* Dispositivos grandes (1200px y superiores)*/

@media screen and (min-width: 1200px) {
@keyframes  moverMenu{
    0%  { margin-left: 522%; }
    100%{ margin-left: 222%; }
    }
    
 *{
    margin: 0px;
    padding: 0px;
}

#container{
    width:100%;
    height: 100%;
    background-color: white;
}

header{
    width: 100%;
    height: 83vh;
    background-image: url(../img/escritorio/fondoHeaderBlog.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu{
    width: 54%;
    height: 25vh;
}


.menu ol{
    width: 100%;
    height: 22vh;
    list-style: none;
    box-sizing: border-box;
}

.menuList{
    display: inline-block;
    height: 20vh;
    width: 24%;
    float: left;
}

.menuList a{
    text-decoration: none;
}

/* Inicia navegador*/

.imagenContenedor{
    width: 80px;
    height: 80px; 
    position: relative;
    top: 91px;
    
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);    
}

.backgroundFondo{
    width: 80px;
    height: 80px;
    margin-left: 28%;
    position: relative;
    top: -108px;
    background-color: rgb(5, 80, 249);
    display: inline-block;
    box-shadow: -1px 3px 4px rgba(0, 0, 0,0.7);
}

.imagenBtnHome{
    width: 80px;
    height: 80px;
    margin-left: 26%;
    position: relative;
    top: -195px;
    background-image:url(../img/escritorio/botonHome.png);
    background-size: contain;
    background-color: transparent;
    
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.imagenBtnHome:hover ~ h2{
    animation-name: moverMenu;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    opacity: 1;
}

.imagenBtninfo{
    width: 80px;
    height: 80px;
    margin-left: 25%;
    position: relative;
    top: -197px;
    background-image:url(../img/escritorio/botonInformacion.png);
    background-size: contain;
    background-color: transparent;
    
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

    .imagenBtninfo:hover ~ h2{
    animation-name: moverMenu;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    opacity: 1;
}

.imagenBtnBlog{
    width: 80px;
    height: 80px;
    margin-left: 25%;
    position: relative;
    top: -197px;
    background-image:url(../img/escritorio/botonBlog.png);
    background-size: contain;
    background-color: transparent;
    
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.imagenBtnBlog:hover ~ h2{
    animation-name: moverMenu;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    opacity: 1;
}

.imagenBtnContacto{
    width: 80px;
    height: 80px;
    margin-left: 25%;
    position: relative;
    top: -197px;
    background-image:url(../img/escritorio/botonContacto.png);
    background-size: contain;
    background-color: transparent;
    
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.imagenBtnContacto:hover ~ h2{
    animation-name: moverMenu;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    opacity: 1;
}

.imagenContenedor h2{
    width: 49%;
    font-family: logo;
    color: rgb(5, 80, 249);
    font-size: 1.5em;
    margin-left: 222%;
    position: relative;
    top: -248px;
    left: -78%;
    text-decoration: none;
    
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    
    opacity:0;
}

/* Termina navegador*/

header section{
    width: 47%;
    height: 26vh;
    margin-left: 47%;
    margin-top: 30vh;
    padding: 12px 12px;
    background-image: url(../img/escritorio/casa.png);
    background-repeat: no-repeat;
    background-size: cover;

}

section h1{
    font-family: logo;
    padding: 0px;
    margin: 11vh 0px 0px 0px;
    font-size: 4em;
    color:rgb(17, 92, 191);
    text-align: center;
    text-shadow: -1px 3px 4px rgba(0, 0, 0,0.7);
}

section p{
    font-family: menu;
    font-size: 1em;
    color:black;
    text-align: center;
}

 #despliegue{
     width: 100%;
     height: 47vh;
     position: relative;
     background-image: url(../img/escritorio/fondoimg2Blog.png);
     background-repeat: no-repeat;
     background-size: cover;
}

#contenedorlogo2{
    width: 26%;
    height: 30vh;
    margin: auto;
    position: relative;
    top: 128px;
}

#contenedorlogo2 #logo2{
    width:100%;
    height:auto;
}

/*empieza de aqui el contenido*/
#contenedor{
    width: 100%;
    height: 159vh;
    display: block;
    position: absolute;
    z-index: -1;
    box-sizing: border-box;
}

.textoContenido{
    width: 95.5%;
    height: 45vh;
    display: block;
    padding: 2%;
}

.contenedorTextosIzquierda{
    width: 48%;
    height: 45vh;
    border-top: 4px solid rgb(66, 129, 241);
    display:inline-block;
}

.contenedorTextosIzquierda h1{
    font-family: logo;
    font-size: 2em;
    color: steelblue;
    text-align: center;
    margin-top: 6vh;
}

.contenedorTextosIzquierda p{
    font-family: textos;
    color: rgb(61, 61, 61);
    font-size: 1.2em;
    padding-top: 30px;
    padding-left: 1%;
    letter-spacing: 0.5px;
    text-align: center;    
}

#infoText{
    font-family: textos;
    color: rgb(61, 61, 61);
    font-size: 1em;
    padding-top: 34px;
    padding-left: 1%;
    letter-spacing: 0.5px;
}

.contenedorImagenTextLeft{
    width:48%;
    height:45vh;
    display:inline-block;
    position: absolute;
    right:1.7%;
}

.contenedorImagenTextLeft img{
    width:100%;
    height:304px;
    box-shadow: -6px 6px 8px rgb(156, 149, 149);
}

#redes{
    width: 100%;
    height: 21vh;
}

.navegador{
    width:58%;
    height: 21vh;
    margin:auto;
}

.navegador nav{
    display: inline-block;
    position: relative;
    width: 47%;
    top: -0.3vh;
    height: 157px;
}

.navegador ul{
    list-style: none; 
    position: relative;
    display: block;
    top:-8vh;
}

.navegador li{
    display: inline-block;
    margin-right: 61px;
}

.navegador li:nth-child(3){
    position: relative;
    top: 37px;
}

.navegador li:nth-child(2){
    position: relative;
    top: -6px;
}

.navegador li:nth-child(4){
    position: relative;
    top: -11px;
}

.navegador ul li figure{
    width: 90px;
    height: 90px;
    background-color: rgba(5, 80, 249, 1);
    margin-top: 30px;
    margin-left: 17%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-shadow: -9px 3px 8px rgba(5, 80, 249, 0.7);
}

.navegador ul li:nth-child(1) figure > img{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    
    width: 26%;
    height: auto;
    position: relative;
    right: 44px;
    top: 20px;
    left: 32px;
}

.navegador ul li :nth-child(1) figure:hover{
    width: 90px;
    height: 90px;
    background-color: rgba(5, 80, 249, 0.7);
    margin-top: 30px;
    margin-left: 17%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-shadow: -9px 3px 8px rgba(5, 80, 249, 0.7);
}

.navegador ul li:nth-child(2) figure > img{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    width: 50%;
    height: auto;
    position: relative;
    right: 18px;
    top: 21px;
    left: 22px;
}

.navegador ul li:nth-child(2) figure:hover{
    width: 90px;
    height: 90px;
    background-color: rgba(105, 80, 209, 1);
    margin-top: 30px;
    margin-left: 17%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-shadow: -9px 3px 8px rgba(5, 80, 249, 0.7);
}

.navegador ul li:nth-child(3) figure > img{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    width: 100%;
    height: auto;
    position: relative;
    right: 17px;
    top: -1px;
    left: 2px;
}

.navegador ul li :nth-child(3) figure:hover{
    width: 90px;
    height: 90px;
    background-color: rgba(105, 80, 209, 1);
    margin-top: 30px;
    margin-left: 17%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-shadow: -9px 3px 8px rgba(5, 80, 249, 0.7);
}

.navegador ul li:nth-child(4) figure > img{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    width: 67%;
    height: auto;
    position: relative;
    right: 20px;
    top: 23px;
    left: 17px;
}

.navegador ul li :nth-child(4) figure:hover{
    width: 90px;
    height: 90px;
    background-color: rgba(105, 80, 209, 1);
    margin-top: 30px;
    margin-left: 17%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-shadow: -9px 3px 8px rgba(5, 80, 249, 0.7);
}
    
#contentTextoFinal{
    width: 100%;
    height: 3vh;
    margin-top: 1vh;
    text-align: center;
    color: black;
    font-size: 1.5em;
    font-family: logo;
    letter-spacing: 1px;
}
 
}
 
 /* computadores de escritorio y portatiles */
 @media screen and (min-width: 992px) and (max-width:1199px){
     
     @keyframes  moverMenu{
         0%  { margin-left: 522%; }
         100%{ margin-left: 222%; }
         }
     
     *{
        margin: 0px;
        padding: 0px;
    }

    #container{
        width:100%;
        height: 100%;
        background-color: white;
    }

    header{
        width: 100%;
        height: 83vh;
        background-image: url(../img/escritorio/fondoHeaderBlog.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .menu{
        width: 70%;
        height: 25vh;
    }


    .menu ol{
        width: 100%;
        height: 22vh;
        list-style: none;
        box-sizing: border-box;
    }

    .menuList{
        display: inline-block;
        height: 20vh;
        width: 24%;
        float: left;
    }
    
    .menuList a{
        text-decoration: none;
    }

    /* Inicia navegador*/

    .imagenContenedor{
        width: 80px;
        height: 80px; 
        position: relative;
        top:87px;
        
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        
    }

    .backgroundFondo{
        width: 80px;
        height: 80px;
        margin-left: 28%;
        position: relative;
        top: -108px;
        background-color: rgb(5, 80, 249);
        display: inline-block;
        box-shadow: -1px 3px 4px rgba(0, 0, 0,0.7);
    }

    .imagenBtnHome{
        width: 80px;
        height: 80px;
        margin-left: 26%;
        position: relative;
        top: -195px;
        background-image:url(../img/escritorio/botonHome.png);
        background-size: contain;
        background-color: transparent;
        
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    
    .imagenBtnHome:hover ~ h2{
        animation-name: moverMenu;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
        opacity: 1;
    }

    .imagenBtninfo{
        width: 80px;
        height: 80px;
        margin-left: 27%;
        position: relative;
        top: -195px;
        background-image:url(../img/escritorio/botonInformacion.png);
        background-size: contain;
        background-color: transparent;
        
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    
    .imagenBtninfo:hover ~ h2{
        animation-name: moverMenu;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
        opacity: 1;
    }

    .imagenBtnBlog{
        width: 80px;
        height: 80px;
        margin-left: 27%;
        position: relative;
        top: -195px;
        background-image:url(../img/escritorio/botonBlog.png);
        background-size: contain;
        background-color: transparent;
        
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .imagenBtnBlog:hover ~ h2{
        animation-name: moverMenu;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
        opacity: 1;
    }
    
    .imagenBtnContacto{
        width: 80px;
        height: 80px;
        margin-left: 27%;
        position: relative;
        top: -195px;
        background-image:url(../img/escritorio/botonContacto.png);
        background-size: contain;
        background-color: transparent;
        
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    
    .imagenBtnContacto:hover ~ h2{
        animation-name: moverMenu;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
        opacity: 1;
    }
    
    .imagenContenedor h2{
        width: 49%;
        font-family: logo;
        color: rgb(5, 80, 249);
        font-size: 1.5em;
        margin-left: 222%;
        position: relative;
        top: -248px;
        left: -78%;
        text-decoration: none;
        
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        
        opacity:0;
    }

    /* Termina navegador*/

    header section{
        width: 61%;
        height: 26vh;
        margin-left: 36%;
        margin-top: 29vh;
        padding: 12px 12px;
        background-image: url(../img/escritorio/casa.png);
        background-repeat: no-repeat;
    }

    section h1{
        font-family: logo;
        padding: 0px;
        margin: 68px 80px 0px 0px;
        font-size: 4em;
        color:rgb(17, 92, 191);
        text-align: center;
        text-shadow: -1px 3px 4px rgba(0, 0, 0,0.7);
    }

    section p{
        font-family: menu;
        font-size: 1em;
        color:black;
        text-align: center;
        margin-left: -7%;
    }

     #despliegue{
         width: 100%;
         height: 47vh;
         position: relative;
         background-image: url(../img/escritorio/fondoimg2Blog.png);
         margin-top: -1px;
         background-size: cover;
         background-repeat: no-repeat;
    }

    #contenedorlogo2{
        width: 34%;
        height: 30vh;
        margin: auto;
        position: relative;
        top: 21vh;
        right: 3%;
    }


    #contenedorlogo2 #logo2{
        width:100%;
        height:auto;
    }
    
    /* empieza el contenido aqui*/
    #contenedor{
        width: 98%;
        height: 159%;
        display: block;
        position: absolute;
        z-index: -1;
        box-sizing: border-box;
    }
    
    .textoContenido{
        width: 95.5%;
        height: 45vh;
        display: block;
        padding: 2%;
    }
    
    .contenedorTextosIzquierda{
        width: 45%;
        height: 45vh;
        border-top: 4px solid rgb(66, 129, 241);
        display:inline-block;
    }
    
    .contenedorTextosIzquierda h1{
        font-family: logo;
        font-size: 2em;
        color: steelblue;
        padding-top: 64px;
        padding-left: 12%;
        position: relative;
        top: -13vh;
        text-align: center;
    }
    
    .contenedorTextosIzquierda p{
        font-family: textos;
        color: rgb(61, 61, 61);
        font-size: 1em;
        padding-top: 0px;
        padding-left: 7%;
        letter-spacing: 0.5px;
        position: relative;
        top: -10vh;
    }
    
    #infoText{
        font-family: textos;
        color: rgb(61, 61, 61);
        font-size: 0.8em;
        padding-left: 7%;
        letter-spacing: 0.5px;
        position: relative;
        top: -11vh;
    }
    
    .contenedorImagenTextLeft{
        width: 48%;
        height: 45vh;
        display: inline-block;
        position: absolute;
        right: 1.7%;
    }
    
    .contenedorImagenTextLeft img{
        width:100%;
        height:304px;
        box-shadow: -6px 6px 8px rgb(156, 149, 149);
    }
    
    #redes{
        width: 72%;
        height: 21vh;
        margin:auto;
    }
    
    .navegador{
        width:100%;
        height: 21vh;
    }
    
    .navegador nav{
        display: inline-block;
        position: relative;
        width: 40%;
        top: 5.7vh;
        height: 157px;
    }
    
    .navegador ul{
        list-style: none; 
        position: relative;
        display: block;
        top:-9vh;
        right:-6%;
    }
    
    .navegador li{
        display: inline-block;
        margin-right: 51px;
    }
    
    .navegador li:nth-child(3){
        position: relative;
        top: 37px;
    }
    
    .navegador li:nth-child(2){
        position: relative;
        top: -6px;
    }
    
    .navegador li:nth-child(4){
        position: relative;
        top: -10px;
    }

    .navegador ul li figure{
        width: 90px;
        height: 90px;
        background-color: rgba(5, 80, 249, 1);
        margin-top: 50px;
        margin-left: 17%;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        box-shadow: -9px 3px 8px rgba(5, 80, 249, 0.7);
    }
    
    .navegador ul li figure:hover{
        width: 90px;
        height: 90px;
        background-color: rgba(5, 80, 249, 0.7);
        margin-top: 50px;
        margin-left: 17%;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        box-shadow: -9px 3px 8px rgba(5, 80, 249, 0.7);
    }
    
    .navegador ul li:nth-child(1) figure > img{
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        
        width: 26%;
        height: auto;
        position: relative;
        right: 18px;
        top: 20px;
        left: 33px;
    }


    .navegador ul li:nth-child(2) figure > img{
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        width: 50%;
        height: auto;
        position: relative;
        right: 18px;
        top: 22px;
        left: 22px;
    }

    .navegador ul li:nth-child(3) figure > img{
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        width: 100%;
        height: auto;
        position: relative;
        right: 17px;
        top: -1px;
        left: 2px;
    }
    
    .navegador ul li:nth-child(4) figure > img{
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        width: 67%;
        height: auto;
        position: relative;
        right: 18px;
        top: 23px;
        left: 16px;
    }
    
    #contentTextoFinal{
        width: 100%;
        margin-top: 1vh;
        text-align: center;
        color: black;
        font-size: 1.5em;
        font-family: logo;
        letter-spacing: 1px;
        position: relative;
        top: 1vh;

    }

 }
 
 @media screen and (min-width:768px) and (max-width:991px){
     
     @keyframes  moverMenu{
         0%  { margin-left: 522%; }
         100%{ margin-left: 222%; }
         }
     *{
        margin: 0px;
        padding: 0px;
    }

    #container{
        width:100%;
        height: 100%;
        background-color: white;
    }

    header{
        width: 100%;
        height: 84vh;
        background-image: url(../img/escritorio/fondoHeaderBlog.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .menu{
        width: 90%;
        height: 25vh;
    }


    .menu ol{
        width: 100%;
        height: 22vh;
        list-style: none;
        box-sizing: border-box;
    }

    .menuList{
        display: inline-block;
        height: 20vh;
        width: 24%;
        float: left;
    }
    
    .menuList a{
        text-decoration: none;
    }

    /* Inicia navegador*/

    .imagenContenedor{
        width: 80px;
        height: 80px; 
        position: relative;
        top:50px;
        
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        right:-1px;
    }

    .backgroundFondo{
        width: 80px;
        height: 80px;
        margin-left: 18%;
        position: relative;
        top: -38px;
        background-color: rgb(5, 80, 249);
        display: inline-block;
        box-shadow: -1px 3px 4px rgba(0, 0, 0,0.7);
    }
    
    .imagenBtnHome{
        width: 80px;
        height: 80px;
        margin-left: 16%;
        position: relative;
        top: -124px;
        background-image:url(../img/escritorio/botonHome.png);
        background-size: contain;
        background-color: transparent;
        
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    
    .imagenBtnHome:hover ~ h2{
        animation-name: moverMenu;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
        opacity: 1;
    }

    .imagenBtninfo{
        width: 80px;
        height: 80px;
        margin-left: 18%;
        position: relative;
        top: -126px;
        background-image:url(../img/escritorio/botonInformacion.png);
        background-size: contain;
        background-color: transparent;
        
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    
    .imagenBtninfo:hover ~ h2{
        animation-name: moverMenu;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
        opacity: 1;
    }
    
    .imagenBtnBlog{
        width: 80px;
        height: 80px;
        margin-left: 18%;
        position: relative;
        top: -126px;
        background-image:url(../img/escritorio/botonBlog.png);
        background-size: contain;
        background-color: transparent;
        
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
     
    .imagenBtnBlog:hover ~ h2{
        animation-name: moverMenu;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
        opacity: 1;
    }
    
    .imagenBtnContacto{
        width: 80px;
        height: 80px;
        margin-left: 18%;
        position: relative;
        top: -126px;
        background-image:url(../img/escritorio/botonContacto.png);
        background-size: contain;
        background-color: transparent;
        
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    
    .imagenBtnContacto:hover ~ h2{
        animation-name: moverMenu;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
        opacity: 1;
    }

    .imagenContenedor h2{
        width: 49%;
        font-family: logo;
        color: rgb(5, 80, 249);
        font-size: 1.3em;
        margin-left: 222%;
        position: relative;
        top: -176px;
        left: -94%;
        text-decoration: none;
        
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        
        opacity:0;
    }
        
    /* Termina navegador*/

    header section{
        width: 80%;
        height: 26vh;
        margin-left: 17%;
        margin-top: 31vh;
        padding: 12px 12px;
        background-image: url(../img/escritorio/casa.png);
        background-repeat: no-repeat;
    }

    section h1{
        font-family: logo;
        padding: 0px;
        margin: 68px 12% 0px 0px;
        font-size: 4em;
        color:rgb(17, 92, 191);
        text-align: center;
        text-shadow: -1px 3px 4px rgba(0, 0, 0,0.7);
    }

    section p{
        font-family: menu;
        font-size: 1em;
        color:black;
        text-align: center;
        margin-left: -11%;    
    }

     #despliegue{
         width: 100%;
         height: 37vh;
         position: relative;
         background-image: url(../img/escritorio/fondoimg2Blog.png);
         margin-top: -1px;
         background-size: cover;
         background-repeat: no-repeat;
    }

    #contenedorlogo2{
        width: 36%;
        height: 30vh;
        margin: auto;
        position: relative;
        top: 14vh;
        right: -25%;
    }


    #contenedorlogo2 #logo2{
        width:100%;
        height:auto;
    }

/* css del contenido*/
    #contenedor{
        width: 99%;
        height: 94vh;
        display: block;
        position: absolute;
        z-index: -1;       
    }
    
    .textoContenido{
        width: 95.5%;
        height: 50vh;
        display: block;
        padding: 2%;
    }
    
    .contenedorTextosIzquierda{
        width: 99%;
        height: 45vh;
        border-top: 4px solid rgb(66, 129, 241);
        display:inline-block;
    }
    
    .contenedorTextosIzquierda h1{
        font-family: logo;
        font-size: 3em;
        color: steelblue;
        padding-left: 11%;
        text-align: center;
        position: relative;
        top: -28px;
    }
    
    .contenedorTextosIzquierda p{
        font-family: textos;
        color: rgb(61, 61, 61);
        font-size: 1.2em;
        padding-left: 12%;
        letter-spacing: 0.5px;
        text-align: center;
    }
    
    #infoText{
        font-family: textos;
        color: rgb(61, 61, 61);
        font-size: 1.01em;
        padding-top: 0vh;
        padding-left: 12%;
        letter-spacing: 0.5px;
    }
    
    .contenedorImagenTextLeft{
        display: none;
    }
    
    #redes{
        width: 82%;
        height: 21vh;
        margin:auto;
        margin-top: -110px;
    }
    
    .navegador{
        width: 100%;
        height: 22vh;
        position: relative;
        top:0vh;
    }
    
    .navegador nav{
        display: inline-block;
        position: relative;
        width: 40%;
        top: 5.7vh;
        height: 157px;
    }
    
    .navegador ul{
        list-style: none; 
        position: relative;
        display: block;
        top: -2vh;
        right: -10%;
    }
    
    .navegador li{
        display: inline-block;
        margin-right: 37px;
    }
    
    .navegador li:nth-child(3){
        position: relative;
        top: 40px;
    }
    
    .navegador li:nth-child(2){
        position: relative;
        top: -5px;
    }
    
    .navegador li:nth-child(4){
        position: relative;
        top: -2px;
    }

    .navegador ul li figure{
        width: 90px;
        height: 90px;
        background-color: rgba(5, 80, 249, 1);
        margin-left: 16%;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        box-shadow: -9px 3px 8px rgba(5, 80, 249, 0.7);
    }
    
    .navegador ul li figure:hover{
        width: 90px;
        height: 90px;
        background-color: rgba(5, 80, 249, 0.7);
        margin-left: 17%;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        box-shadow: -9px 3px 8px rgba(5, 80, 249, 0.7);
    }
    
    .navegador ul li:nth-child(1) figure > img{
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        
        width: 26%;
        height: auto;
        position: relative;
        right: 18px;
        top: 20px;
        left: 33px;
    }
    
    .navegador ul li:nth-child(2) figure > img{
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        
        width: 50%;
        height: auto;
        position: relative;
        right: 17px;
        top: 22px;
        left: 21px;
    }
    
    .navegador ul li:nth-child(3) figure > img{
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        
        width: 100%;
        height: auto;
        position: relative;
        right: 17px;
        top: 0px;
        left: 3px;
    }
    
    .navegador ul li:nth-child(4) figure > img{
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        
        width: 76%;
        height: auto;
        position: relative;
        right: 17px;
        top: 20px;
        left: 11px;
        }
        
        #contentTextoFinal{
            width: 100%;
            margin-top: 1vh;
            text-align: center;
            color: black;
            font-size: 1.5em;
            font-family: logo;
            letter-spacing: 1px;
            position: relative;
            

        }
 }
 
 @media screen and (min-width:366px) and (max-width: 767px)
 {
     @keyframes  moverMenu{
         0%  { margin-left: 522%; }
         100%{ margin-left: 222%; }
         }
         
     *{
        margin: 0px;
        padding: 0px;
    }

    #container{
        width:100%;
        height: 100%;
        background-color: white;
    }

    header{
        width: 100%;
        height: 83vh;
        background-image: url(../img/escritorio/fondoHeaderBlog.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .menu{
        width: 100%;
        height: 25vh;
    }


    .menu ol{
        width: 100%;
        height: 23vh;
        list-style: none;
        box-sizing: border-box;
    }

    .menuList{
        display: inline-block;
        height: 20vh;
        width: 21%;
        position: relative;
        right: 0%;
    }
    
    .menuList a{
        text-decoration: none;
    }

    
    /* Inicia navegador*/

    .imagenContenedor{
        width: 40px;
        height: 40px; 
        position: relative;
        top:50px;
        
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        right:-6%;
    }

    .backgroundFondo{
        width: 50px;
        height: 50px;
        margin-left: 13%;
        position: relative;
        top: -38px;
        background-color: rgb(5, 80, 249);
        display: inline-block;
        box-shadow: -1px 3px 4px rgba(0, 0, 0,0.7);
    }

    .imagenBtnHome{
        width: 50px;
        height: 50px;
        margin-left: 8%;
        position: relative;
        top: -95px;
        
        background-repeat: no-repeat;
        background-image: url(../img/escritorio/botonHome.png);
        background-size: contain;
        background-color: transparent;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    
    .imagenBtnHome:hover ~ h2{
        opacity: 1;
        animation-name: moverMenu;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
    }

    .imagenBtninfo{
        width: 50px;
        height: 50px;
        margin-left: 9%;
        position: relative;
        top: -96px;
        
        background-repeat: no-repeat;
        background-image: url(../img/escritorio/botonInformacion.png);
        background-size: contain;
        background-color: transparent;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    
    .imagenBtninfo:hover ~ h2{
        opacity: 1;
        animation-name: moverMenu;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
    }
        
    .imagenBtnBlog{
        width: 50px;
        height: 50px;
        margin-left: 12%;
        position: relative;
        top: -95px;
        right: 1px;
        
        background-image: url(../img/escritorio/botonBlog.png);
        background-size: contain;
        background-color: transparent;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        background-repeat: no-repeat;    
    }
    
    .imagenBtnBlog:hover ~ h2{
        opacity: 1;
        animation-name: moverMenu;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
    }
        
    .imagenBtnContacto{
        width: 50px;
        height: 50px;
        margin-left: 12%;
        position: relative;
        top: -95px;
        right: 1px;
        
        background-image: url(../img/escritorio/botonContacto.png);
        background-size: contain;
        background-color: transparent;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        background-repeat: no-repeat;    
    }
    
    .imagenBtnContacto:hover ~ h2{
        opacity: 1;
        animation-name: moverMenu;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
    }
    
    .imagenContenedor h2{
        width: 49%;
        font-family: logo;
        color: rgb(5, 80, 249);
        font-size: 0.8em;
        margin-left: 222%;
        position: relative;
        top: -126px;
        left: -67%;
        text-decoration: none;
        
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        
        opacity:0;
    }
        
    /* Termina navegador */

    header section{
        width: 95%;
        height: 26vh;
        margin-top: -62px;
        padding: 12px 12px;
        background-repeat: no-repeat;
    }

    section h1{
        font-family: logo;
        font-style: italic;
        padding: 0px;
        margin: 68px 80px 0px 50px;
        font-size: 4em;
        color:rgb(17, 92, 191);
        text-align: center;
        text-shadow: -1px 3px 4px rgba(0, 0, 0,0.7);
    }

    section p{
        font-family: menu;
        font-size: 1em;
        color:black;
        text-align: center;
        margin-left: -4%;
    }

     #despliegue{
         width: 100%;
         height: 44vh;
         position: relative;
         background-image: url(../img/escritorio/fondoimg2Blog.png);
         margin-top: -1px;
         background-size: cover;
         background-repeat: no-repeat;
    }

    #contenedorlogo2{
        width: 72%;
        height: 30vh;
        margin: auto;
        position: relative;
        top: 30vh;
    }


    #contenedorlogo2 #logo2{
        width:100%;
        height:auto;
    }

    /* cambios del cuerpo desde aqui */
    #contenedor{
        width: 99%;
        height: 94%;
        display: block;
        position: absolute;
        z-index: -1;
    }

    .textoContenido{
        width: 95.5%;
        height: 50vh;
        display: block;
        padding: 2%;
    }

    .contenedorTextosIzquierda{
        width: 99%;
        height: 45vh;
        border-top: 4px solid rgb(66, 129, 241);
        display:inline-block;
    }

    .contenedorTextosIzquierda h1{
        padding-top: 12px;
        font-family: logo;
        font-size: 2em;
        color: steelblue;
        text-align: center;
        margin:auto;
        position: relative;
        top: 6px;
    }

    .contenedorTextosIzquierda p{
        font-family: textos;
        color: rgb(62, 62, 62);
        font-size: 1em;
        padding-top: 27px;
        padding-left: 7%;
        letter-spacing: 0.5px;
    }

    #infoText{
        font-family: textos;
        color: rgb(62, 62, 62);
        font-size: 0.88em;
        padding-top: 3vh;
        padding-left: 7%;
        letter-spacing: 0.5px;
    }

    .contenedorImagenTextLeft{
        display: none;
    }

    #redes{
        width: 91%;
        height: 13vh;
        position: relative;
        margin: auto;
        top: -11vh;
    }

    .navegador{
        width:100%;
        height: 13vh;
    }

    .navegador ul{
        list-style: none; 
        position: relative;
        display: block;
        margin: auto;
    }

    .navegador li{
        display: inline-block;
        margin-right: 13.8%;  
        width:10%;  
        position: relative;
        right: -8%;
    }

    .navegador li:nth-child(3){
        position: relative;
        top: 21px;
    }

    .navegador li:nth-child(2){
        position: relative;
        top: -5px;
    }

    .navegador li:nth-child(4){
        position: relative;
        top: -4px;
    }

    .navegador ul li figure{
        width: 50px;
        height: 50px;
        background-color: rgba(5, 80, 249, 1);
        margin-left: 16%;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        box-shadow: -9px 3px 8px rgba(5, 80, 249, 0.7);
    }

    .navegador ul li figure:hover{
        width: 50px;
        height: 50px;
        background-color: rgba(5, 80, 249, 0.7);
        margin-left: 17%;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        box-shadow: -9px 3px 8px rgba(5, 80, 249, 0.7);
    }

    .navegador ul li:nth-child(1) figure > img{
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        
        width: 26%;
        height: auto;
        position: relative;
        right: 14px;
        top: 11px;
        left: 19px;
    }

    .navegador ul li:nth-child(2) figure > img{
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        
        width: 50%;
        height: auto;
        position: relative;
        right: 17px;
        top: 12px;
        left: 13px;
    }
    
    .navegador ul li:nth-child(2) figure{
        position: relative;
        top: 0.3vh;
    }
    

    .navegador ul li:nth-child(3) figure > img{
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        
        width: 100%;
        height: auto;
        position: relative;
        right: 17px;
        top: 1px;
        left: 2px;
    }

    .navegador ul li:nth-child(4) figure > img{
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        
        width: 68%;
        height: auto;
        position: relative;
        right: 15px;
        top: 13px;
        left: 8px;
        }
        
        #contentTextoFinal{
            width: 100%;
            margin-top: 1vh;
            text-align: center;
            color: black;
            font-size: 1.5em;
            font-family: logo;
            letter-spacing: 1px;
            position: relative;
            top: 1vh;
        }    
 }
 
 @media screen and (max-width: 365px)
 {
     @keyframes  moverMenu{
         0%  { margin-left: 522%; }
         100%{ margin-left: 222%; }
         }
         
     *{
        margin: 0px;
        padding: 0px;
    }

    #container{
        width:100%;
        height: 100%;
        background-color: white;
    }

    header{
        width: 100%;
        height: 83vh;
        background-image: url(../img/escritorio/fondoHeaderBlog.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .menu{
        width: 100%;
        height: 25vh;
    }


    .menu ol{
        width: 100%;
        height: 23vh;
        list-style: none;
        box-sizing: border-box;
    }

    .menuList{
        display: inline-block;
        height: 20vh;
        width: 21%;
        position: relative;
        right: 0%;
    }
    
    .menuList a{
        text-decoration: none;
    }

    
    /* Inicia navegador*/

    .imagenContenedor{
        width: 40px;
        height: 40px; 
        position: relative;
        top:50px;
        
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        right:-6%;
    }

    .backgroundFondo{
        width: 50px;
        height: 50px;
        margin-left: 13%;
        position: relative;
        top: -38px;
        background-color: rgb(5, 80, 249);
        display: inline-block;
        box-shadow: -1px 3px 4px rgba(0, 0, 0,0.7);
    }

    .imagenBtnHome{
        width: 50px;
        height: 50px;
        margin-left: 8%;
        position: relative;
        top: -95px;
        
        background-repeat: no-repeat;
        background-image: url(../img/escritorio/botonHome.png);
        background-size: contain;
        background-color: transparent;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    
    .imagenBtnHome:hover ~ h2{
        opacity: 1;
        animation-name: moverMenu;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
    }

    .imagenBtninfo{
        width: 50px;
        height: 50px;
        margin-left: 9%;
        position: relative;
        top: -96px;
        
        background-repeat: no-repeat;
        background-image: url(../img/escritorio/botonInformacion.png);
        background-size: contain;
        background-color: transparent;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    
    .imagenBtninfo:hover ~ h2{
        opacity: 1;
        animation-name: moverMenu;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
    }
        
    .imagenBtnBlog{
        width: 50px;
        height: 50px;
        margin-left: 12%;
        position: relative;
        top: -95px;
        right: 1px;
        
        background-image: url(../img/escritorio/botonBlog.png);
        background-size: contain;
        background-color: transparent;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        background-repeat: no-repeat;    
    }
    
    .imagenBtnBlog:hover ~ h2{
        opacity: 1;
        animation-name: moverMenu;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
    }
        
    .imagenBtnContacto{
        width: 50px;
        height: 50px;
        margin-left: 12%;
        position: relative;
        top: -95px;
        right: 1px;
        
        background-image: url(../img/escritorio/botonContacto.png);
        background-size: contain;
        background-color: transparent;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        background-repeat: no-repeat;    
    }
    
    .imagenBtnContacto:hover ~ h2{
        opacity: 1;
        animation-name: moverMenu;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
    }
    
    .imagenContenedor h2{
        width: 49%;
        font-family: logo;
        color: rgb(5, 80, 249);
        font-size: 0.8em;
        margin-left: 222%;
        position: relative;
        top: -126px;
        left: -67%;
        text-decoration: none;
        
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        
        opacity:0;
    }
        
    /* Termina navegador */

    header section{
        width: 95%;
        height: 26vh;
        margin-top: -62px;
        padding: 12px 12px;
        background-repeat: no-repeat;
    }

    section h1{
        font-family: logo;
        font-style: italic;
        padding: 0px;
        margin: 68px 80px 0px 50px;
        font-size: 3em;
        color:rgb(17, 92, 191);
        text-align: center;
        text-shadow: -1px 3px 4px rgba(0, 0, 0,0.7);
    }

    section p{
        font-family: menu;
        font-size: 1em;
        color:black;
        text-align: center;
        margin-left: -4%;
    }

     #despliegue{
         width: 100%;
         height: 44vh;
         position: relative;
         background-image: url(../img/escritorio/fondoimg2Blog.png);
         margin-top: -1px;
         background-size: cover;
         background-repeat: no-repeat;
    }

    #contenedorlogo2{
        width: 72%;
        height: 30vh;
        margin: auto;
        position: relative;
        top: 120px;
    }


    #contenedorlogo2 #logo2{
        width:100%;
        height:auto;
    }

    /* cambios del cuerpo desde aqui */
    #contenedor{
        width: 99%;
        height: 87vh;
        display: block;
        position: absolute;
        z-index: -1;
    }

    .textoContenido{
        width: 95.5%;
        height: 91vh;
        display: block;
        padding: 2%;
    }

    .contenedorTextosIzquierda{
        width: 99%;
        height: 45vh;
        border-top: 4px solid rgb(66, 129, 241);
        display:inline-block;
    }

    .contenedorTextosIzquierda h1{
        padding-top: 12px;
        font-family: logo;
        font-size: 2em;
        color: steelblue;
        text-align: center;
        margin:auto;
        position: relative;
        top: 6px;
    }

    .contenedorTextosIzquierda p{
        font-family: textos;
        color: rgb(62, 62, 62);
        font-size: 1em;
        padding-top: 27px;
        padding-left: 7%;
        letter-spacing: 0.5px;
    }

    #infoText{
        font-family: textos;
        color: rgb(62, 62, 62);
        font-size: 0.81em;
        padding-top: 3vh;
        padding-left: 7%;
        letter-spacing: 0.5px;
    }

    .contenedorImagenTextLeft{
        display: none;
    }

    #redes{
        width: 91%;
        height: 13vh;
        position: relative;
        margin: auto;
        top: -20vh;
        right:6%;
    }

    .navegador{
        width:100%;
        height: 13vh;
    }

    .navegador ul{
        list-style: none; 
        position: relative;
        display: block;
        margin: auto;
    }

    .navegador li{
        display: inline-block;
        margin-right: 13.8%;  
        width:10%;  
        position: relative;
        right: -8%;
    }

    .navegador li:nth-child(3){
        position: relative;
        top: 21px;
    }

    .navegador li:nth-child(2){
        position: relative;
        top: -5px;
    }

    .navegador li:nth-child(4){
        position: relative;
        top: -4px;
    }

    .navegador ul li figure{
        width: 50px;
        height: 50px;
        background-color: rgba(5, 80, 249, 1);
        margin-left: 16%;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        box-shadow: -9px 3px 8px rgba(5, 80, 249, 0.7);
    }

    .navegador ul li figure:hover{
        width: 50px;
        height: 50px;
        background-color: rgba(5, 80, 249, 0.7);
        margin-left: 17%;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        box-shadow: -9px 3px 8px rgba(5, 80, 249, 0.7);
    }

    .navegador ul li:nth-child(1) figure > img{
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        
        width: 26%;
        height: auto;
        position: relative;
        right: 14px;
        top: 11px;
        left: 19px;
    }

    .navegador ul li:nth-child(2) figure > img{
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        
        width: 50%;
        height: auto;
        position: relative;
        right: 17px;
        top: 12px;
        left: 13px;
    }
    
    .navegador ul li:nth-child(2) figure{
        position: relative;
        top: 0.3vh;
    }
    

    .navegador ul li:nth-child(3) figure > img{
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        
        width: 100%;
        height: auto;
        position: relative;
        right: 17px;
        top: 1px;
        left: 2px;
    }

    .navegador ul li:nth-child(4) figure > img{
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        
        width: 68%;
        height: auto;
        position: relative;
        right: 15px;
        top: 13px;
        left: 8px;
        }
        
        #contentTextoFinal{
            width: 100%;
            margin-top: 1vh;
            text-align: center;
            color: black;
            font-size: 1.5em;
            font-family: logo;
            letter-spacing: 1px;
            position: relative;
            top: 9vh;
            right:-6%;
        }    
    
    
 }
