body {
  font-family: arial;
  font-size: 12px;
  color: #666;
}
form.emailjs-success:after,
form.emailjs-sending:after,
form.emailjs-error:after {
  margin-top: 0;
  transition: all .3s;
}
form.emailjs-sending:after {
  content: 'Sending email...';
  background: #eee;
}
form.emailjs-success:after {
  content: 'Email sent!';
  background: #1B5E20;
  color: white;
  text-shadow: -1px -1px black;
}
form.emailjs-error:after {
  content: 'Error sending email';
  background: #B71C1C;
  color: white;
  text-shadow: -1px -1px black;
}